* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #fcf5eb;
    /* background-color: #ffffff; */
}

/* reusables */
.logo {
    width: 130px;
}

.icon-background {
    background-color: #25d366;
    border-radius: 50%;
    padding: 5px;
}

.card {
    /* background-color: white; */
    width: 253px;
    height: auto;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid;
    border-radius: 25px;
    border-color: #cfd1d2;
}

.h1-card-text {
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    color: #1c1e21;
    line-height: 40px;
}

.features-container {
    /* border: 1px solid; */
    padding: 20px;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    visibility: hidden;
    /* display: none; */
}

.box {
    flex-basis: 200px;
    flex-grow: 1;
    /* box-shadow: 2px 2px 20px; */
}

/* .flex-direction-column {
    flex-direction: column;
} */

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.btn {
    background-color: rgb(14, 175, 68);
    border-radius: 50px;
    /* color: #1c1e21; */
    line-height: 16px;
    overflow: hidden;
    padding: 16px 28px;
    position: relative;
    text-align: center;
    cursor: pointer;
}

.btn-span {
    font-size: 20px;
    font-weight: 500;
}

.nav {

    background-color: #fcf5eb;
    /* background-color: #ffffff; */
    box-shadow: 0px 2px 4px #cfd1d2;
    height: 100px;
    /* max-height: auto; */
    width: 100%;
    padding: 20px 20px 0px 20px;
}

.main-nav-links {
    align-items: center;
    display: none;
    justify-content: space-between;

}

.mobile-nav {
    
}

.nav-links {
    list-style: none;
    gap: 3rem;
}

a {
    text-decoration: none;
}

.nav-links li a:hover {
    text-decoration: underline;
    text-decoration-color: #25d366;
    text-underline-offset: 0.2em;
    text-decoration-thickness: 2px;
}

.text-dark {
    color: #1c1e21;
}

.text-center {
    text-align: center;
}

.p1 {
    padding: 10px;
}

.p2 {
    padding: 20px;
}

.p3 {
    padding: 30px;
}

.p4 {
    padding: 40px;
}

.p5 {
    padding: 50px;
}

.mt-1 {
    margin-top: 10px;
}

.mt-2 {
    margin-top: 20px;
}

.mt-3 {
    margin-top: 30px;
}

.mt-4 {
    margin-top: 40px;

}

.mt-5 {
    margin-top: 50px;
}

.mt-7 {
    margin-top: 70px;
}

.mt-10 {
    margin-top: 100px;
}

.mt-20 {
    margin-top: 200px;
}

.ml-1 {
    margin-left: 10px;
}

.ml-2 {
    margin-left: 20px;
}

.ml-3 {
    margin-left: 30px;
}

.ml-4 {
    margin-left: 40px;
}

.ml-5 {
    margin-left: 50px;
}

.ml-8 {
    margin-left: 80px;
}

.ml-10 {
    margin-left: 100px;
}

.ml-20 {
    margin-left: 200px;
}

.ml-30 {
    margin-left: 300px;
}

.mr-1 {
    margin-right: 10px;
}

.mr-2 {
    margin-right: 20px;
}

.mr-3 {
    margin-right: 30px;
}

.mr-4 {
    margin-right: 40px;
}

.mr-5 {
    margin-right: 50px;
}

.mr-8 {
    margin-right: 80px;
}

.mr-10 {
    margin-right: 100px;
}

.mr-12 {
    margin-right: 120px;
}

.mr-15 {
    margin-right: 150px;
}

.mr-20 {
    margin-right: 200px;
}

.mr-30 {
    margin-right: 300px;
}

.py-1 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.px-1 {
    padding-right: 10px;
    padding-left: 10px;
}

.px-2 {
    padding-right: 20px;
    padding-left: 20px;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-around {
    justify-content: space-around;
}

.flex-basis-70 {
    flex-basis: 70%;
}

.flex-basis-50 {
    flex-basis: 50%;
}

.flex-basis-20 {
    flex-basis: 20%;
}